:root{
    --pri-font:'Julius Sans One',
    sans-serif;
    --sec-font:'Playfair Display SC',
    serif;
}



h1{
    font-family: var(--sec-font);
}

img{
    border-radius: 50%;
    height: 50%;
    width: 50%;
    }

.navbar{
    font-family: var(--pri-font) ;
}

.contact-box{
    margin:150px 200px ;
    border-radius: 15px;
    padding: 30px 80px;
    background-color: #f8e8a6;
}


.contact-slogan{
    text-align: left;
    font-size: 20px;
}

.contact-slogan h4{
    font-weight: bolder;
}

.btn-branding{
    background-color: #F7BF50;
    padding: 15px 10px;
    border-radius: 4%;
    color: white;
    font-family: var(--pri-font);
}

.btn-branding:hover{
    color: black;
}

.email-link{
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    font-family: var(--pri-font);
    color: black;
}

.mail-links:hover{
    color: black;
}

.media-links i{
   background-color: #F7BF50;
   color:white;
   margin:0 20px;
   padding:10px 14px;
   border-radius: 50%;
   font-size: 18px;
}

.media-links i:hover{
    color: black;
    transition: 100ms ease-in-out;
}

.self-intro{
    margin: 150px 100px; 
}

.self-intro p{
    font-family: var(--pri-font);
    
}

.work{
    margin:0 90px;
    text-align: center;
}

.work p{
    font-family: var(--pri-font);
    font-size: 32px;
}

.bakery-app-intro{
    text-align: left;
    font-family: var(--pri-font);
}

@media(max-width:576px) {
    
    
}

.about-me{
    margin:150px 160px;
}

.about-me p{
    font-family: var(--pri-font);
    font-size: 16px;
    /* text-transform: capitalize; */
}

.about-me h3{
    font-family: var(--pri-font);
    font-size: 18px;
    text-transform: lowercase ;
    font-weight: bolder;
}

.mywork{
    margin:150px 90px;
    text-align: center;
}

.weather-app-intro{
    text-align: left;
    font-family: var(--pri-font);
}

.weatherapp-img{
    border-radius: 5%;
    height: 100%;
    width: 60%;
}

.mycontact{
    margin:150px 90px;
    text-align: left;
}

.mycontact p{
    font-family: var(--pri-font);
}
